CompileFlags:
  CompilationDatabase: None
  Add:
    - -std=c++11
    - -D_CRT_SECURE_NO_WARNINGS
---
If:
  PathMatch: src/[^/]+/.*
CompileFlags:
  Add:
    - -I..
    - -I../../vendor/vulkan/Include
    - -I../../vendor/glfw/include
    - -DASSET_DIR="../../bin"
    - -include
    - ../base/base_mod.h
---
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -xc++
---

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - clang-analyzer-*
      - misc-*
      - performance-*
      - portability-*
      - readability-*
    Remove:
      - readability-magic-numbers
      - readability-function-cognitive-complexity
      - readability-identifier-length
      - readability-braces-around-statements
      - readability-uppercase-literal-suffix
      - readability-use-std-min-max
      - bugprone-suspicious-include
      - misc-non-private-member-variables-in-classes
      - bugprone-easily-swappable-parameters
      - misc-use-anonymous-namespace
      - misc-use-internal-linkage
