CompileFlags:
  Add:
    - -include
    - base/defines.h
    - -isysroot
    - /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX15.5.sdk

---

If:
  PathMatch: (^|.*/)src/main\\.cpp$
CompileFlags:
  Add:
    - -x
    - objective-c++

---

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - clang-analyzer-*
      - misc-*
      - performance-*
      - portability-*
      - readability-*
    Remove:
      - readability-magic-numbers
      - readability-function-cognitive-complexity
      - readability-identifier-length
      - readability-braces-around-statements
      - readability-uppercase-literal-suffix
      - bugprone-suspicious-include
      - misc-non-private-member-variables-in-classes
      - bugprone-easily-swappable-parameters
